<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.lo-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="Nlog.log" autoReload="true"  throwExceptions="false">

  <targets>
      <target name="logMethod" xsi:type="MethodCall" className="EsterServer.Modules.Logs.LogComet, EsterServer.Modules.Logs" 
              methodName="SetEvent">
          <parameter layout="${logger}" />
          <parameter layout="${level}" />
          <parameter layout="${event-context:item=userName}" />  
          <parameter layout="${event-context:item=address}" />
          <parameter layout="${event-context:item=value}" />
          <parameter layout="${event-context:item=details}" />
          <parameter layout="${message}" />
      </target>
    <target xsi:type="Database" name="logDb" connectionStringName="Ester">

      <commandText>
        USE Ester
        INSERT INTO [Logs]
        (Logger, LogLevel, TimeStamp, EsterUser, Address, Value, Message, Details)
        VALUES
        (@logger, @level, SYSDATETIME(), @userName, @address, @value, @message, @details)
      </commandText>

      <parameter name="@logger" layout="${logger}" />
      <parameter name="@level" layout="${level}" />      
      <parameter name="@userName" layout="${event-context:item=userName}" />
      <parameter name="@address" layout="${event-context:item=address}" />
      <parameter name="@value" layout="${event-context:item=value}" />
      <parameter name="@details" layout="${event-context:item=details}" />
      <parameter name="@message" layout="${message}" />

    </target>
  </targets>
  <targets>
    <target xsi:type="Database" name="historyDb" connectionStringName="Ester">

      <commandText>
        USE Ester
        INSERT INTO [History]
        (TimeStamp, Address, Value)
        VALUES
        (SYSDATETIME(), @address, @value)
      </commandText>
      
      <parameter name="@address" layout="${event-context:item=address}" />
      <parameter name="@value" layout="${event-context:item=value}" />
    </target>
  </targets>
  
  <rules>
    <logger name="*" writeTo="logDb" >
      <filters>
        <when condition="contains('${logger}','BACsharp.')" action="Ignore" />
        <when condition="starts-with('${logger}','BAChistory')" action="Ignore" />
      </filters>
    </logger>
        <logger name="*" writeTo="logMethod" >
      <filters>
        <when condition="contains('${logger}','BACsharp.')" action="Ignore" />
        <when condition="starts-with('${logger}','BAChistory')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" writeTo="historyDb" >
      <filters>
        <when condition="not starts-with('${logger}','BAChistory')" action="Ignore" />
      </filters>
    </logger>
  </rules>
  
</nlog>
