.icon-temperature {
	background-image: url("../img/icons.png");
	background-position: 0      0;

	width: 16px;
	height: 16px;
}
.icon-arrow {
	background-image: url("../img/icons.png");
	background-position: -16px  0;
	width: 16px;
	height: 16px;
}
.icon-save {
	background-image: url("../img/icons.png");
	background-position: -32px  0;
	width: 16px;
	height: 16px;
}
.icon-trash {
	background-image: url("../img/icons.png");
	background-position: -48px  0;
	width: 16px;
	height: 16px;
}
.icon-refresh {
	background-image: url("../img/icons.png");
	background-position: -64px  0;
	width: 16px;
	height: 16px;
}
.icon-lightsensor {
	background-image: url("../img/icons.png");
	background-position: -80px  0;
	width: 16px;
	height: 16px;
}
.icon-lamp {
	background-image: url("../img/icons.png");
	background-position: -96px  0;
	width: 16px;
	height: 16px;
}
.icon-heater {
	background-image: url("../img/icons.png");
	background-position: -112px  0;
	width: 16px;
	height: 16px;
}
.icon-conditioner {
	background-image: url("../img/icons.png");
	background-position: -128px  0;
	width: 16px;
	height: 16px;
}
.icon-waterleak {
	background-image: url("../img/icons.png");
	background-position: -144px  0;
	width: 16px;
	height: 16px;
}





.icon-temperature-small {
	background-image: url("../img/icons-small.png");
	background-position: 0      0;

	width: 12px;
	height: 12px;
}
.icon-arrow-small {
	background-image: url("../img/icons-small.png");
	background-position: -12px  0;
	width: 12px;
	height: 12px;
}
.icon-save-small {
	background-image: url("../img/icons-small.png");
	background-position: -24px  0;
	width: 12px;
	height: 12px;
}
.icon-trash-small {
	background-image: url("../img/icons-small.png");
	background-position: -36px  0;
	width: 12px;
	height: 12px;
}
.icon-refresh-small {
	background-image: url("../img/icons-small.png");
	background-position: -48px  0;
	width: 12px;
	height: 12px;
}